<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AirbnbAnalyzer - Dashboard</title>
  <link rel="stylesheet" href="/static/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

</head>
<body>
  {% include 'header.html' %}

  <main class="container main">

    <section class="overview">
      <h2 class="section-title">Scegli cosa Aggiungere</h2>
      <div class="card-grid">
        <div class="card">
          <h3>Alloggi</h3>
          <a href="{{ url_for('nuovo_alloggio') }}" class="btn">Aggiungi</a>
        </div>
        <div class="card">
          <h3>Host</h3>
          <a href="{{ url_for('nuovo_host') }}" class="btn">Aggiungi</a>
        </div>
      </div>
    </section>


  </main>

  {% include 'footer.html' %}


<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='map.js') }}"></script>

</body>
</html>