<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Modifica Host - AirbnbAnalyzer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='form_alloggio.css') }}">
</head>
<body>
{% include 'header.html' %}
  <main class="form-container">
    <h1>Modifica Host</h1>
    <form method="POST">
      <label for="nome">Nome</label>
      <input type="text" name="nome" value="{{ host.nome }}" id="nome" required>

      <button type="submit" class="btn">💾 Salva Modifiche</button>
    </form>
  </main>

{% include 'footer.html' %}
</body>
</html>
