<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Nuovo Prezzo - AirbnbAnalyzer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='form_alloggio.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
 {% include 'header.html' %}

  <main class="form-container">
    <h1>Aggiungi Prezzo</h1>
    <form method="POST">
      <div class="form-group">
        <label for="data">Data</label>
        <input type="date" name="data" id="data" required>
      </div>

      <div class="form-group">
        <label for="prezzo_giornaliero">Prezzo (€)</label>
        <input type="number" name="prezzo_giornaliero" id="prezzo_giornaliero" step="0.01" required>
      </div>

      <button type="submit" class="btn">➕ Aggiungi Prezzo</button>
    </form>
  </main>
  {% include 'footer.html' %}
</body>

</html>
